.card-body{
    background-color: white;
    box-shadow: rgba(216, 133, 255,1) 1em 1em;
    border: 0.1em lightgrey solid;
    text-align: center;
    width:20%;
    height: auto;
    margin: 5% auto;
    color: white;
    padding: 2%;
}

form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

p{
    color:rgb(193,128,255);
    font-size: 5vw;
    font-weight: bold;
}
  
.login-button{
    border-radius: 5%;
    border: none;
    background-color: rgba(216, 133, 255,1);
    width: 30%;
    margin-top: 3%;
    padding: 2%;
    color: white;
    font-weight: bold;
    font-size: 2vh;
}
  
.center{
    text-align: center;
    margin-top:3%;
}